<div class="contenido">
  <h1>Hola</h1>
<h2>Ya entiendo mejor angular</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi dolores hic laboriosam minima ut fugiat voluptas exercitationem nam ipsum. Quam exercitationem nesciunt consequuntur ipsum voluptates voluptatum non sunt quis ad.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis ut natus at ex totam aut beatae impedit, cum enim quas hic, possimus corporis accusamus nostrum iure, qui neque doloremque consequatur.
Labore esse temporibus expedita corrupti dolores, voluptates sit blanditiis possimus deleniti excepturi voluptatum eaque nihil praesentium commodi provident, quos, dolor reiciendis doloremque eveniet tenetur explicabo? Eius porro consectetur hic ipsam!
Sed deleniti eveniet, repudiandae ut provident dolore ullam aspernatur omnis perferendis. Enim possimus nobis architecto totam provident nesciunt inventore. Hic iusto id beatae et iste magni quod totam facilis fugiat.</p>
</div>