
<div class="contenido">
  <h1>AYUDA</h1>
  <i class="fa-brands fa-facebook"></i>
<h2>Medio que le entiendo ya a angular</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod autem debitis laboriosam itaque voluptas fugit ipsa ex voluptatibus, deserunt est impedit porro sequi fugiat. Nisi adipisci qui neque quos autem!</p>
<h2>Pero sigue sin gustarme ing</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus alias cupiditate, tempora minus quaerat aut fugiat nostrum non molestiae, doloremque mollitia repudiandae. Possimus cumque ad unde consequatur? Rerum, totam! Laborum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos perspiciatis voluptas suscipit ducimus quam recusandae nam necessitatibus temporibus, distinctio nobis accusamus delectus, nisi doloribus quod quae consectetur voluptatem vel ipsa?</p>
<h2>1 mes para la practica</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium accusantium aut magni natus officia laudantium eveniet blanditiis, quis quaerat. Inventore velit distinctio non quidem quisquam cum in voluptate esse officia?
Ut vitae alias veritatis voluptatem mollitia accusamus, quae itaque suscipit amet commodi rem facere. Maiores voluptate quo veritatis alias molestias, reprehenderit optio quam ex sunt inventore adipisci, exercitationem accusamus vitae.</p>
</div>