.contenido{
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  border-radius: 10px;
  width: 70%;
  margin-top: 2%;
  padding: 1% 2% 1% 2%;
  text-align: justify;
}
h1{
  text-align: center;
}
