<div class="navbar">
  <a [routerLink]="['inicio']" routerLinkActive="active">Inicio</a>
  <a [routerLink]="['acerca']" routerLinkActive="active">Acerca</a>
  <a [routerLink]="['contacto']"routerLinkActive="active">Contacto</a>
</div>
