.contenido{
  background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
  border-radius: 10px;
  width: 70%;
  margin-top: 2%;
  padding: 1% 2% 1% 2%;
  text-align: justify;
}
h1{
  text-align: center;
}