<div class="contenido">
  <h1>Hola ing</h1>
<h2>Pongame 100</h2>
<div class="texto">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti soluta deserunt ab velit similique! Odio nihil eum earum perspiciatis recusandae fugit eligendi tempore corporis laboriosam! Inventore veritatis commodi perspiciatis enim?
    Quaerat quos placeat ipsum maiores sint praesentium nihil inventore consequuntur molestiae enim. Vitae veritatis nulla accusamus iure voluptate? Provident error deserunt est quis magnam natus architecto perferendis officia repellendus iusto!
    Quae ut praesentium optio porro aliquam! Dolorum nisi quis dolores ipsa quidem placeat eligendi? Doloremque nulla porro accusamus dolor possimus sapiente necessitatibus temporibus deserunt ab, eligendi eos eveniet officia velit?</p>
    <img src="../../../assets/Duck whit knife.jpg" alt="100">  
    
</div>
</div>