.contenido{
  background-image: linear-gradient(to top, #ffa398 0%, #ff3988e1 100%);
  width: 70%;
  border-radius: 3%;
 text-align: center;
  padding: 0 2% 0 2%;
}
.texto{
  display: inline-flex;
}
img{
  border-radius: 3%;
  width: 20%;
  margin: 2%;
}
p{
  width: 100%;
  text-align: justify;
}