.contenido{
  background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
  border-radius: 10px;
  width: 70%;
  margin-top: 2%;
  padding: 1% 2% 1% 2%;
  text-align: justify;
}
h1{
  text-align: center;
}

