.contenido{
  background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
  border-radius: 10px;
  width: 70%;
  margin-top: 2%;
  padding: 1% 2% 1% 2%;
  text-align: justify;
}
h1{
  text-align: center;
}
