.acerca{
  background-image: url(../../../assets/img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 73%;
  border-radius: 8px;
  margin-top: 2%;
  
}

.texto{
  background-color: rgb(255, 255, 255,0.5);
  padding: 2% 3%;
}
p{
  text-align: justify;
}
img{
  width: 20%;
}