<div class="acerca">
  <div class="texto">
    <h1>Angular</h1>
  <h2>Si esta dificil</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error eaque placeat expedita repudiandae hic commodi, ad dolorum quibusdam voluptatum maiores sequi accusantium, sit illum, facilis itaque molestias dolor reprehenderit. Eius.
  Voluptate nobis consequuntur recusandae nam omnis dolorum quia eos ullam cum dicta adipisci commodi vitae sapiente molestias, iusto molestiae nesciunt quos, nisi architecto fugit illum itaque iure beatae. Voluptatum, qui.</p>
  <h2>Quien invento angular >:v</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo similique veniam officia molestiae amet excepturi molestias incidunt accusamus ipsum placeat ab vitae recusandae praesentium doloribus vero dolorum, ut iusto aspernatur!
  Dolorum atque modi cupiditate obcaecati quia recusandae ad, veritatis incidunt debitis, eveniet vel delectus tempore aliquid enim iure iusto? Dolor id corrupti ipsa error, numquam ducimus nemo commodi ipsum! Id?</p>
  </div>

</div>
