*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar{
  float:right;
  overflow: hidden;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  width: 25%;
  margin-top: 2%;
  border-radius: 15px;
}

.sidebar a{
  text-decoration: none;
  color: white;
  text-align: center;
  display: block;
  padding: 14px 10px;
  font-size: 17px;
}

.sidebar a:hover{
  background: white;
  color: #a18cd1;
}

