<div class="sidebar">
  <a [routerLink]="['home']" routerLinkActive="active">Home</a>
  <a [routerLink]="['ubicacion']" routerLinkActive="active">Ubicacion</a>
  <a [routerLink]="['redes']" routerLinkActive="active">Redes</a>
  <a [routerLink]="['mas']" routerLinkActive="active">Mas</a>
  <a [routerLink]="['ayuda']" routerLinkActive="active">Ayuda</a>

</div>
