.contenido{
  background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%);
  border-radius: 10px;
  width: 70%;
  margin-top: 2%;
  padding: 1% 2% 1% 2%;
  text-align: justify;
}
h1{
  text-align: center;
}
